In [2]:
import arviz as az
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pymc as pm
import xarray as xr
import random
import rpy2 
%load_ext rpy2.ipython

In [3]:
df20 = pd.read_csv('../results/combined/all.csv', sep=',')

In [ ]:
#%>% group_by(genus,species) %>% filter(!(chr=='chrX')) %>% filter(freq_mean > 0.5) %>% mutate(recomb_bin = ntile(cm_per_mb, 20))  %>% filter(!(species %in% c('zaza','albinasus')))

In [4]:
df20

,chr,start,end,freq_mean,freq_min,freq_max,freq_median,window_size_mean,sum_n_mean,species,genus,cm_start,cm_end,cm_per_mb,N_VARIANTS,PI
0,chr1,1700001,1800000,0.395264,0.395264,0.395264,0.395264,99999,39526.000000,trivirgatus,Aotus,0.202035,0.212782,0.107472,31,0.000310
1,chr1,1800001,1900000,0.676817,0.676817,0.676817,0.676817,99999,67681.000000,trivirgatus,Aotus,0.212782,0.216024,0.032423,9,0.000090
2,chr1,1900001,2000000,0.571416,0.571416,0.571416,0.571416,99999,57141.000000,trivirgatus,Aotus,0.216024,0.389473,1.734505,7,0.000070
3,chr1,2100001,2200000,0.670927,0.670927,0.670927,0.670927,99999,67092.000000,trivirgatus,Aotus,0.495115,0.537176,0.420616,26,0.000260
4,chr1,2200001,2300000,0.727017,0.727017,0.727017,0.727017,99999,72701.000000,trivirgatus,Aotus,0.537176,0.684193,1.470184,4,0.000040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5257239,chrX,154200001,154300000,0.060007,0.059961,0.060091,0.059971,99999,3922.727273,macrocephalus,Sapajus,117.232876,117.233080,0.002044,30,0.000011
5257240,chrX,154300001,154400000,0.668813,0.623006,0.706667,0.676767,99999,54592.363636,macrocephalus,Sapajus,117.233080,117.246162,0.130819,142,0.000042
5257241,chrX,154400001,154500000,0.764488,0.758358,0.767728,0.767378,99999,54819.636364,macrocephalus,Sapajus,117.246162,117.246363,0.002012,122,0.000037
5257242,chrX,154500001,154600000,0.534432,0.531385,0.536345,0.535565,99999,39673.727273,macrocephalus,Sapajus,117.246364,117.251392,0.050285,99,0.000033
5257243,chrX,154600001,154700000,0.252523,0.232352,0.268763,0.256453,99999,20861.545455,macrocephalus,Sapajus,117.251392,117.254640,0.032480,45,0.000014